@import "tailwindcss";
@import "@nuxt/ui";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Kolory podstawowe - domyślnie jasny motyw */
  --color-primary: #287deb;
  --color-background-app: #d0d9ec;
  --color-background-card: #F7FAFC;
  --color-background-input: #d3e2e6;
  --color-text-primary: #222525;
  --color-text-secondary: #393e40;
  --color-button-background: #28b4eb;
  --color-button-text: #f2feff;
  --color-border: #b9c7cc;
  --color-highlight: #b9c7cc;

  /* Nuxt UI compatible colors - gray palette */
  --color-gray-50: #FFFCF2;
  --color-gray-100: #F6F0EA;
  --color-gray-200: #E0DACCCC;
  --color-gray-300: #CCC5B9;
  --color-gray-400: #A39C92;
  --color-gray-500: #80796E;
  --color-gray-600: #645F58;
  --color-gray-700: #4B4642;
  --color-gray-800: #363330;
  --color-gray-900: #252422;
  --color-gray-950: #141312;

  /* Primary color palette - wersja jasna */
	--color-primary-50: #eff6ff;
	--color-primary-100: #dbeafe;
	--color-primary-200: #bfdbfe;
	--color-primary-300: #93c5fd;
	--color-primary-400: #60a5fa;
	--color-primary-500: #287deb;
	--color-primary-600: #2563eb;
	--color-primary-700: #1d4ed8;
	--color-primary-800: #1e40af;
	--color-primary-900: #1e3a8a;
	--color-primary-950: #172554;

  --ui-primary-50: var(--color-primary-50);
  --ui-primary-100: var(--color-primary-100);
  --ui-primary-200: var(--color-primary-200);
  --ui-primary-300: var(--color-primary-300);
  --ui-primary-400: var(--color-primary-400);
  --ui-primary-500: var(--color-primary-500);
  --ui-primary-600: var(--color-primary-600);
  --ui-primary-700: var(--color-primary-700);
  --ui-primary-800: var(--color-primary-800);
  --ui-primary-900: var(--color-primary-900);
  --ui-primary-950: var(--color-primary-950);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.13 0.028 261.692);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.13 0.028 261.692);
  --primary: oklch(0.21 0.034 264.665);
  --primary-foreground: oklch(0.985 0.002 247.839);
  --secondary: oklch(0.967 0.003 264.542);
  --secondary-foreground: oklch(0.21 0.034 264.665);
  --muted: oklch(0.967 0.003 264.542);
  --muted-foreground: oklch(0.551 0.027 264.364);
  --accent: oklch(0.967 0.003 264.542);
  --accent-foreground: oklch(0.21 0.034 264.665);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.928 0.006 264.531);
  --input: oklch(0.928 0.006 264.531);
  --ring: oklch(0.707 0.022 261.325);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.967 0.003 264.542);
  --sidebar-accent-foreground: oklch(0.21 0.034 264.665);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
  --background: oklch(1 0 0);
  --foreground: oklch(0.13 0.028 261.692);
}

.dark {
  /* Kolory podstawowe */
	--color-primary: #287deb;
	--color-background-app: #1A202C;
	--color-background-card: #393f40;
	--color-background-input: #565f63;
	--color-divide-card: #515b5e;
	--color-text-primary: #f2fbff;
	--color-text-secondary: #b9cacc;
	--color-button-background: #2c95db;
	--color-button-text: #f2fcff;
	--color-border: #597b80;
	--color-highlight: #b9c8cc;

  /* Primary color palette - wersja ciemna */
	--color-primary-50: #eff6ff;
	--color-primary-100: #dbeafe;
	--color-primary-200: #bfdbfe;
	--color-primary-300: #93c5fd;
	--color-primary-400: #60a5fa;
	--color-primary-500: #287deb;
	--color-primary-600: #2563eb;
	--color-primary-700: #1d4ed8;
	--color-primary-800: #1e40af;
	--color-primary-900: #1e3a8a;
	--color-primary-950: #172554;

	--ui-primary-50: var(--color-primary-50);
	--ui-primary-100: var(--color-primary-100);
	--ui-primary-200: var(--color-primary-200);
	--ui-primary-300: var(--color-primary-300);
	--ui-primary-400: var(--color-primary-400);
	--ui-primary-500: var(--color-primary-500);
	--ui-primary-600: var(--color-primary-600);
	--ui-primary-700: var(--color-primary-700);
	--ui-primary-800: var(--color-primary-800);
	--ui-primary-900: var(--color-primary-900);
	--ui-primary-950: var(--color-primary-950);
	--background: oklch(0.13 0.028 261.692);
	--foreground: oklch(0.985 0.002 247.839);
	--card: oklch(0.13 0.028 261.692);
	--card-foreground: oklch(0.985 0.002 247.839);
	--popover: oklch(0.13 0.028 261.692);
	--popover-foreground: oklch(0.985 0.002 247.839);
	--primary: oklch(0.985 0.002 247.839);
	--primary-foreground: oklch(0.21 0.034 264.665);
	--secondary: oklch(0.278 0.033 256.848);
	--secondary-foreground: oklch(0.985 0.002 247.839);
	--muted: oklch(0.278 0.033 256.848);
	--muted-foreground: oklch(0.707 0.022 261.325);
	--accent: oklch(0.278 0.033 256.848);
	--accent-foreground: oklch(0.985 0.002 247.839);
	--destructive: oklch(0.396 0.141 25.723);
	--destructive-foreground: oklch(0.637 0.237 25.331);
	--border: oklch(0.278 0.033 256.848);
	--input: oklch(0.278 0.033 256.848);
	--ring: oklch(0.446 0.03 256.802);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.21 0.034 264.665);
	--sidebar-foreground: oklch(0.985 0.002 247.839);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0.002 247.839);
	--sidebar-accent: oklch(0.278 0.033 256.848);
	--sidebar-accent-foreground: oklch(0.985 0.002 247.839);
	--sidebar-border: oklch(0.278 0.033 256.848);
	--sidebar-ring: oklch(0.446 0.03 256.802);
}

@theme {
  --font-display: 'Roboto Flex', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@custom-variant hover (&:hover);

:root{
  font-family: 'Roboto Flex', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  font-family: 'Instrument Serif', 'Times New Roman', Times, serif;
}

body {
  background-color: black;
  color: var(--color-text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
  overflow-x: hidden
}

body:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: .1;
    z-index: -1;
    backdrop-filter: blur(10px);
}

body:before {
    background: black;
    background-image: url(/imgs/grain.svg);
    background-attachment: fixed;
    filter: contrast(2) brightness(.5);
}
.serif {
  font-family: 'Instrument Serif', 'Times New Roman', Times, serif;
}

.bg-background-card {
  background-color: var(--color-background-card);

}

.text-primary {
  color: var(--color-text-primary);
}

.text-secondary {
  color: var(--color-text-secondary);
}

.border-custom {
  border-color: var(--color-border);
}

/* Dodatkowe style dla inputów */
.form-input, .form-textarea, .form-select {
  transition: all 0.3s ease;
}

.form-input:focus, .form-textarea:focus, .form-select:focus {
  box-shadow: 0 0 0 3px rgba(var(--color-primary-500), 0.1);
}

/* Styl dla disabled inputów */
.form-input:disabled, .form-textarea:disabled, .form-select:disabled {
  background-color: var(--color-background-app);
  color: var(--color-text-secondary);
}

.link-underline{
  position: relative;
}

.link-underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #a0befd;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link-underline:hover::before {
  transform: scaleX(1);
}

.heading-text {
  padding: 1rem; 
  font-size: 3.75rem;
  line-height: 1; 
  font-weight: 800; 
  color: transparent; 
  background-clip: text; 
  background-image: linear-gradient(to bottom, var(--color-button-background)); 
}


section.section {
  content-visibility: auto;
}

::target-text {
  background-color: #28b4eb;
  color: white;
}